body {
  background-color: #0A0A0A;
  max-width: 1300px;
  margin: 0 auto;
  margin-top: 200px;
  padding: 20px;
  font-family: "Urbanist", sans-serif;
}

a {
  text-decoration: none;
}

section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(424px, 1fr));
  margin-top: 2rem;
}

.box {
  position: relative;
  height: 424px;
  padding: 16px;
  background-color: #ccc;
  display: flex;
  flex-direction: column;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.text {
  position: absolute;
  bottom: 16px;
}

.box p {
    font-size: 8px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0.15em;
    color: #fff;
    text-transform: uppercase;
}


.box h3 {
  font-size: 40px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0.01em;
  margin: unset
}


.box:hover .content {
  display: block;
}

.content {
  display: none;
}

.content p {
  text-transform: unset;
  color: #E2DEDE;
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
}

.agency {
  background: #000000C7 url('images/agency.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.agency h3 {
  color: #0165FA;
}

.network {
  background: #000000C7 url('images/network.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.network h3 {
  color: #AE8651;
}

.media {
  background: #000000C7 url('images/media.png');
  background-repeat: no-repeat;
  background-size: cover;
  
  background-position: center center;
  
  position: relative;
  transition: background-color 0.3s ease;
}

.box:hover {
  background-blend-mode: multiply;
}
.media h3 {
  color: #6E00FE;
}


.media:hover::after {
  content: "COMING SOON";
  position: absolute;
  top: 50%;
  left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
      font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.01em;
  color: #6E00FE;
  text-align: center;
  visibility: visible;
}

@media screen and (max-width: 480px) {
  section {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
}